/*- Custom style -*/

// -- Put custom style under this point -- //

#header h1 {
        color: #2980B9;
}

#header h1 span {
        color: #2980B9;
}

#h2 {
  font-weight:700;
}

a {
  font-weight:400;
  color: #2980B9;
}

#nav-links a {
  color: #2980B9;
}
